<!-- SIDEBAR HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header accent p-24 pb-4">

    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            dashboard
        </mat-icon>
        <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Settings</span>
    </div>

    <!-- <div class="account" fxLayout="column" [@animate]="{value:'*',params:{delay:'300ms'}}">
    </div> -->

</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content pt-12" fusePerfectScrollbar [@animate]="{value:'*',params:{y:'50px'}}">

    <div class="nav material2">

        <div class="nav-subheader">COMPANY</div>

        <div class="nav-item">
            <a class="nav-link" matRipple 
                [routerLink]="['/settings/list/holdings']"
                [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">dashboard</mat-icon>
                <span>Holdings</span>
            </a>
        </div>

        <div class="nav-item">
            <a class="nav-link" matRipple
                [routerLink]="['/settings/list/companies']"
                [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">dashboard</mat-icon>
                <span>Companies</span>
            </a>
        </div>

        <div class="nav-item">
                <a class="nav-link" matRipple
                    [routerLink]="['/settings/list/farms']"
                    [routerLinkActive]="['active', 'accent']">
                    <mat-icon class="nav-link-icon">dashboard</mat-icon>
                    <span>Farms</span>
                </a>
            </div>

        <div class="nav-subheader">SECURITY</div>
    
        <div class="nav-item">
            <a class="nav-link" matRipple 
                [routerLink]="['/settings/list/users']"
                [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">account_circle</mat-icon>
                <span>Users</span>
            </a>
        </div>

        <div class="nav-item">
            <a class="nav-link" matRipple 
                [routerLink]="['/settings/roles']"
                [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">security</mat-icon>
                <span>Roles</span>
            </a>
        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->
